.greeting {
    text-align: center;
    padding: 1rem;
}

#expense-form {
    width: 50%;
    height: auto;
    margin: auto;
    background-color: transparent;
    padding: 1rem;
    border: 0.5px solid var(--acc1);
    border-radius: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Limited browsers only i will add others in future */
.inputs {
    background-color: var(--prim-bg-color);
    color: var(--prim-text);
    border: 1px solid var(--prim-border-color);
    border-radius: 999px;
    padding: 0.5%;
    height: 10%;
    width: 80%;
}

.inputs:hover,
select:hover {
    background-color: rgba(96, 0, 251, 0.363);
}

.tags-button {
    background-color: var(--prim-grey);
    color: var(--prim-text);
    border: 1px solid var(--main-bg-color);
    text-align: center;
    padding: 0.16rem;
    border-radius: 999px;
}

.tags-button:hover {
    background-color: var(--prim-green);
    transform: scale(1.04);
}

.tags-list::-webkit-scrollbar {
    width: 6px;
}

.tags-list::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.tags-list::-webkit-scrollbar-track {
    background: transparent;
}

.tags-list {
    max-height: 40vh;
    max-width: 60vw;
    overflow-y: auto;
}

.selected {
    background-color: var(--prim-green);
}

.select {
    background-color: var(--main-bg-color);
    color: var(--prim-text);
    border-radius: 1rem;
    height: 10%;
    width: 50%;
}

.add-button {
    background-color: var(--prim-grey);
    color: var(--prim-text);
    border: 1px solid grey;
    border-radius: 1rem;
}

.add-button:hover {
    background-color: var(--good-decision);
    border: 1px solid var(--prim-green);
    padding: 0.24rem;
}

label:hover {
    color: var(--acc1);
    font-weight: 700;
}