#expense-form {
    width: 70%;
    height: auto;
    margin: auto;
    background-color: transparent;
    padding: 1rem;
    border: 0.5px solid var(--acc1);
    border-radius: 1rem;
}


@media (max-width: 550px) {
    .stats-charts {
        max-width: 100%;
    }

    .stats-pane {
        width: 100%;
    }

    #expense-form {
        margin: auto;
        width: 100%;
    }

    .select,
    .inputs {
        min-width: fit-content;
        font-size: 1.1rem;
    }

    .tags-list {
        max-width: 100%;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Limited browsers only i will add others in future */
.inputs {
    background-color: var(--prim-bg-color);
    color: var(--prim-text);
    border: 1px solid var(--prim-border-color);
    border-radius: 999px;
    text-align: center;
    padding: 1%;
}

.inputs:hover,
select:hover {
    background-color: rgba(96, 0, 251, 0.363);
}

.tags-list::-webkit-scrollbar {
    width: 6px;
}

.tags-list::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.tags-list::-webkit-scrollbar-track {
    background: transparent;
}

.tags-list {
    max-height: 40vh;
    max-width: 60vw;
    overflow-y: auto;
    cursor: pointer;
}

.selected {
    background-color: var(--prim-green);
}

.select {
    background-color: var(--main-bg-color);
    color: var(--prim-text);
    border-radius: 1rem;
    height: 10%;
    width: 50%;
}

.select:hover {
    cursor: grab;
    box-shadow: 1px, 1px 20px red;
}

.select:active {
    cursor: grabbing;
}

.add-button {
    background-color: var(--prim-grey);
    color: var(--prim-text);
    border: 1px solid grey;
    border-radius: 1rem;
    margin: auto;
    cursor: pointer;
}

.add-button:hover {
    background-color: var(--good-decision);
    border-radius: 1.2rem;
    border: 1px solid var(--prim-green);
    padding: 0.24rem;
}