/* Filters */
.filter {
    font-family: Outfit, sans-serif;
    color: var(--sec-text-color);
    background: linear-gradient(var(--main-bg-color) transparent);
    border-radius: 1rem;
}

.filter-selector-year {
    border-radius: 1rem;
    background-color: var(--sec-bg-color);
}

.filter-selector {
    background-color: var(--sec-bg-color);
    border-radius: 1rem;
}

.statusbox {
    background-color: var(--sec-bg-color);
}

/* Expenses pane starts here */
.expenses-pane {
    background-color: var(--sec-bg-color);
    display: grid;
    width: 100%;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding-top: 1%;
}

.expense-card {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.main {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: var(--prim-text);

}


.secondary {
    font-size: 0.9rem;
}

.expense-amount {
    color: var(--amount-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.expense-amount:hover {
    font-size: 1.3rem;
    font-weight: 800;
}

.expense-comment {
    text-transform: capitalize;
}

.card-buttons {
    color: var(--prim-text);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.6rem;
}

.edit-button {
    background-color: var(--prim-green);
    color: var(--prim-text);
}

.delete-button {
    background-color: var(--sec-orange);
    color: var(--prim-text);
}

.locked {
    background-color: var(--prim-grey);
    color: var(--prim-text);
    font-style: oblique;
}

.edit-delete-buttons {
    border: 2px solid var(--prim-border-color);
    border-radius: 999px;
    padding: 10px;
    font-style: italic;
}

.edit-delete-buttons:hover {
    padding-left: 1.2rem;
    font-weight: 600;
    box-shadow: 1px 1px 1.3rem var(--prim-bg-color);
}

/* Edit pane starts here */
.hidden {
    display: none;
}

.editing {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prim-bg-color);
    opacity: 0.9;
    padding: 1%;
}

.editing-pane {
    background-color: var(--sec-bg-color);
    padding: 10%;
    overflow-y: auto;
    border-radius: 12px;
    max-height: 90vh;
    max-width: 600px;
    width: 90%;
}

.inputs {
    background-color: var(--prim-bg-color);
    color: var(--prim-text);
    border: 1px solid var(--prim-border-color);
    border-radius: 999px;
    text-align: center;
    padding: 1%;
}

.tags-button {
    background-color: var(--prim-grey);
    color: var(--prim-text);
    border: 1px solid var(--main-bg-color);
    text-align: center;
    padding: 0.16rem;
    border-radius: 999px;
}

.tags-button:hover {
    background-color: var(--prim-green);
    transform: scale(1.04);
}

.selected {
    background-color: yellowgreen;
}

.visibility-buttons {
    border: 1px solid var(--prim-border-color);
    color: var(--prim-text);
    border-radius: 1.3rem;
}

.visibility-buttons:hover {
    transform: scale(1.05);
    border: 1px solid var(--prim-grey);
    border-radius: 999px;
    transition: all 1s;
}

.submit-button {
    background-color: var(--prim-green);
    padding: 1%;
}

.cancel-button {
    background-color: var(--sec-red);
    padding: 1%;
}

label:hover {
    color: var(--acc1);
    font-weight: 700;
}