@media (max-width: 550px) {
    .stats-charts {
        min-width: 90%;
    }
    .stats-pane {
        min-width: 90%;
    }
}

.stats-charts {
    max-width: 50%;
    height: auto;
    margin: auto;
    background-color: var(--sec-bg-color);
    padding: 1rem;
    border: 2px solid var(--prim-border-color);
    border-radius: 1rem;
}

.stats-pane {
    max-width: 60%;
    background-color: var(--sec-bg-color);
    text-align: center;
    margin: auto;
    border: 2px solid var(--prim-border-color);
    border-radius: 1.5rem;
}

.stats-pane:hover {
    background-color: var(--main-bg-color);
    transform: scale(1.02);
    transition: all 0.5s ease;
}

.main-stats {
    font-family: 'Outfit', sans-serif;
    color: var(--prim-text);
    font-weight: 600;
}

.values {
    color: var(--amount-color);
    font-size: 1rem;
}

.amount {
    font-size: 1.2rem;
}

.main-text {
    color: var(--prim-text);
}

.times-used {
    color: var(--prim-text);
    font-size: 1rem;
}

.keys {
    color: var(--prim-text);
}